body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #1a1a1a, #003064);
    color: #fff;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1, h2 {
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #90d1fd;
    color: #000000;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}