<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Statistici</title>
</head>
<body>
    <h1>Statistici</h1>
    
    <h2>Statistici Simple</h2>
    <ul>
        {% for result in statistici_result_simple %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>

    <h2>Statistici Complexe</h2>
    <ul>
        {% for result in statistici_result_complex %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>
</body>
</html>
